<div class="container px-5 px-sm-0">
  <div class="row">

    <%= render partial: '/layouts/post', locals: { user: @user, new_book: @new_book } %>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table"><tbody>
		    <tr>
          <td><a href="<%= user_path(@user.id) %>">
            <%= image_tag @user.get_profile_image(80, 80) %><br>
            <%= @book.user.name %>
          </a></td>
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %></td>
            <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' %></td>
          <% end %>
        </tr>
      </tbody></table>
    </div>
  </div>
</div>